.header {
    width: 100%;
    min-height: 70vh; /* Full screen height */
    background-image: url('C:\Codes\T1\public\img\intro-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .intro {
    text-align: center;
    color: white;
  }
  
  .intro h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .intro p {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .btn-custom {
    color: white;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .btn-custom:hover {
    background: linear-gradient(135deg, #308ae4, #6c31eb);
  }
  
  /* Responsive Design */
  @media (max-width: 800px) {
    .intro h1 {
      font-size: 3rem; /* Slightly smaller title */
    }
    .intro p {
      font-size: 2rem;
    }
    .btn-custom {
      padding: 10px 20px;
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .intro h1 {
      font-size: 3rem;
    }
    .intro p {
      font-size: 2rem;
    }
    .btn-custom {
      padding: 8px 18px;
      font-size: 0.9rem;
    }
  }